form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-right: 15px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }