.sidenav {
    background-color: red;
    background-image: linear-gradient(180deg, #763A45 , #164130);
    width: 200px;
}

.sidenav a {
    color: #FFF;
} 

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}
